.site-header {
  -webkit-box-shadow: 0 px 10px -4px lightgrey !important;
          box-shadow: 0 px 10px -4px lightgrey !important;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-bottom: solid lightgrey 1px;
}

@media (max-width: 575.98px) {
  .header-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-container {
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 575.98px) {
  .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.logo {
  width: 120px;
  height: 120px;
}

.cities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

@media (max-width: 991.98px) {
  .cities-container {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
}

@media (max-width: 575.98px) {
  .cities-container {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    width: 100%;
    padding-top: 0px;
  }
}

.city-btn {
  width: 80px;
  margin: 10px;
}

@media (max-width: 575.98px) {
  .city-btn {
    width: 70px;
    margin: 2px;
    padding: 5px;
  }
}

.city-link {
  text-align: center;
}

.city-link:hover {
  text-decoration: none;
}

@media (max-width: 575.98px) {
  .city-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
  }
}

nav {
  -webkit-box-shadow: 0 px 10px -4px lightgrey !important;
          box-shadow: 0 px 10px -4px lightgrey !important;
}

.fixed-top {
  opacity: 350;
  -webkit-animation: fadeIn 1s ease-in both;
          animation: fadeIn 1s ease-in both;
  -webkit-box-shadow: 0px 1px 10px lightgrey;
          box-shadow: 0px 1px 10px lightgrey;
}

@media (max-width: 575.98px) {
  .fixed-top {
    position: relative;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

footer {
  height: 72px;
  background-color: lightgrey;
}

.cards-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 991.98px) {
  .cards-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offer-card {
  padding: 20px;
  width: 260px;
  margin: 3px;
}

.offer-card:hover {
  border: #e43a2c 1px solid;
}

@media (max-width: 991.98px) {
  .offer-card {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 10px;
  }
}

.card-title {
  font-size: 30px;
  color: #e43a2c;
  padding-left: 20px;
}

.card-content {
  padding-left: 20px;
}

.card-price {
  font-size: 45px;
}

.card-button {
  margin-top: 10px;
  padding: 10px;
  color: #e43a2c;
  border-color: #e43a2c;
}

.card-button:hover {
  color: white;
  background-color: #e74f43;
  border-color: #e43a2c;
}

.card-button:focus, .card-button.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(228, 58, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(228, 58, 44, 0.5);
}

.card-button.disabled, .card-button:disabled {
  color: #e43a2c;
  background-color: transparent;
}

.card-button:not(:disabled):not(.disabled):active, .card-button:not(:disabled):not(.disabled).active,
.show > .card-button.dropdown-toggle {
  color: #fff;
  background-color: #e74f43;
  border-color: #e43a2c;
}

.card-button:not(:disabled):not(.disabled):active:focus, .card-button:not(:disabled):not(.disabled).active:focus,
.show > .card-button.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(228, 58, 44, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(228, 58, 44, 0.5);
}

.modal-title {
  font-size: 50px;
  color: #e43a2c;
  margin: 15px auto;
}

#modal-close-button {
  margin: -15px -15px -15px -15px;
}

.city-collapse-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.city-address-card {
  width: 100%;
}

.city-address-card__title {
  color: #dc291a;
}

.icon-location {
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 7px;
}

.city-address-card__location-name {
  display: inline-block;
  vertical-align: middle;
}

.shop-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-address-card {
  margin-top: 15px;
  min-width: 50%;
  max-width: 50%;
}

.shop-address-card:nth-child(odd) {
  border-right: lightgrey 1px solid;
}

@media (max-width: 991.98px) {
  .shop-address-card {
    max-width: 50%;
  }
}

@media (max-width: 575.98px) {
  .shop-address-card {
    max-width: 100%;
  }
  .shop-address-card:nth-child(odd) {
    border-right: none;
  }
}

.city-address-card__shop-name {
  font-size: 18px;
  font-weight: bold;
  color: #524c4c;
  text-decoration: underline;
}

.accordion {
  padding: 20px;
}

.secondary-brand-color {
  color: #dc291a;
}

.card button {
  white-space: normal;
}
/*# sourceMappingURL=styles.css.map */