@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../abstracts/variables";

.cards-container{
    padding: 20px;
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
     }
}

.offer-card{
    padding: 20px;
    width: 260px;
    margin: 3px;

    &:hover{
        border: $brand-color 1px solid;
    }

    @include media-breakpoint-down(md) {
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 10px;
     }
}

.card-title{
    font-size: 30px;
    color: $brand-color;
    padding-left: 20px;
}

.card-content{
    padding-left: 20px;
}

.card-price{
    font-size: 45px;
}

.card-button{
    margin-top: 10px;
    padding: 10px;
    @include button-outline-variant($brand-color,white, lighten($brand-color,5%), $brand-color);
}





